body{
    margin: 0px;
}

ul{
    margin: 0;
    background-color: #333333;
    padding: 20px;
}

li{
    display: inline;
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
}

li :hover{
    background-color: #0F52BA;
}

a{
    text-decoration: none;
    color: white;
    padding: 20px;
}